node_modules

# dependencies, yarn, etc
# yarn / eslint
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.eslintcache
.DS_Store
.vscode
.idea
.vercel
packages/hardhat/deployments/xrplSidechain/EthWord.json
yarn.lock
packages/hardhat/deployments/xrplSidechain/solcInputs/cfd2b7e6f7e4ac49a1e8d314e93790f8.json
